<a href="https://colab.research.google.com/github/tejas18691/Paython_Basics_with_Tic-Tac-Tow/blob/master/Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd

In [0]:
# ----------------String library used-------#
str="Hello World!"
print (str)
print (str[2:5])
print (str*2)
print (str + "This is my first Python code")
print (str[-5:-2])
print (str.strip())
print (len(str))
print (str.lower())
print (str.upper())
print (str.replace("World","Tejasvi"))
print (str.split(","))

Hello World!
llo
Hello World!Hello World!
Hello World!This is my first Python code
orl
Hello World!
12
hello world!
HELLO WORLD!
Hello Tejasvi!
['Hello World!']

In [0]:
a = "The rain in Spain stays mainly in the plain"
x= "ain" in a
print(x)

True

In [0]:
a= "The rain in Spain stays mainly in the plain"
x= "ain" not in a
print(x)

False

In [0]:
a= "Hello"
b="World!"
#---c=a+b----#
c=a+" "+b
print(c)

Hello World!

In [0]:
# age=29
# str="My name is Tejasvi, and I am {} years old."
# print(str.format(age))

qty=3
itemno=24
amount=4600
str="I want {} boxes of item {} for {} rupees."
print(str.format(qty, itemno, amount))

I want 3 boxes of item 24 for 4600 rupees.

In [0]:
thislist = ["apple", "banana", "cherry","orange", "kiwi", "melon", "mango"]
#-----print(thislist)
#-----print(thislist[1])
#-----print(thislist[-1])
#-----print(thislist[2:5])
#-----print(thislist[:5])
#-----print(thislist[2:])
#Change item value
#thislist[1]="blackcurrent"
#print(thislist)

# Loop thru a list
#for x in thislist:
#  print(x)

#------- check the item in the list----
if "apple" in thislist:
  print("Yes, apple is in the list")

#--------------- length of list -----------
print(len(thislist))

#-------------- add an item----------
thislist.append("watermelon")
print(thislist)

In [0]:
list1 =  ["a", "b", "c"]
list2 = [1,2,3]
list3= list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [0]:
list1 = ["a", "b", "c"]
list2 = [1, 2,3]
for x in list2:
  list1.append(x)
  print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

Code for Tuples

In [0]:
thistuple = ("apple", "watermelon", "kiwi", "litchi", "banana")
print(thistuple)

('apple', 'watermelon', 'kiwi', 'litchi', 'banana')

In [0]:
#--------------- All methode code same as list


thistuple = ("apple", "watermelon", "kiwi", "litchi", "banana", "cherry", "mango")
print(thistuple[1])             #acces tuple item
print(thistuple[-1])            #Negative index
print(thistuple[2:5])           #Range of index
print(thistuple[-5:-1])         #Nagative range

watermelon
mango
('kiwi', 'litchi', 'banana')
('kiwi', 'litchi', 'banana', 'cherry')

In [0]:
#----------------Convert the tuple into a list to be able to change it

x = ("apple", "watermelon", "kiwi", "litchi", "banana", "cherry", "mango")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'kiwi', 'litchi', 'banana', 'cherry', 'mango')

In [0]:
#--------------------Loop thru a tuple

thistuple=("apple", "watermelon", "kiwi", "litchi", "banana", "cherry", "mango")
for i in thistuple:
  print(i)

apple
watermelon
kiwi
litchi
banana
cherry
mango

In [0]:
#-------------------Looking for a existing item in tuple

thistuple= ("apple", "watermelon", "kiwi", "litchi", "banana", "cherry", "mango")
if "apple" in thistuple:
  print("Yes, 'apple' in the tuple")

Yes, 'apple' in the tuple

In [0]:
#---------------- length of tuple

thistuple=("apple", "watermelon", "kiwi", "litchi", "banana", "cherry", "mango")
print(len(thistuple))

7

In [0]:
#----------------- Join two tuple

tuple1 = ("a", "b", "c", "d")
tuple2 = (1, 2, 3, 4)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

**Conditional Statement**

In [0]:
a = 233
b = 75
if a > b :
  print("a is greater than b")

a is greater than b

In [0]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [0]:
a = 300
b = 250
c = 750
if a > b and c > a:
  print("both conditions are true")

both conditions are true

**Loop Statement Begins**

In [0]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [0]:
#--------------------- print sum of natural nos
n = 10
sum = 0
i = 1
while i<=n:
  sum=sum + i
  i=i+1
  print("the sum is", sum)

the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55

**For Loop**

In [0]:
fruits =["apples","banana","cherry","kiwi","mango"]
for x in fruits:
  print(x)

In [0]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

print("The sum is", sum)

The sum is 48

In [0]:
# Program to check if a number is prime or not

#num = 407

# To take input from the user
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

In [0]:
# Print all prime number with in the interval
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

In [0]:
# Program to find the factorial of a number

num = int(input("Enter the number:"))

factorial=1
if num < 0:
  print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
  print("The factoiral of 0 is 1")
else:
    for i in range(1,num + 1):
      factorial = factorial *i
    print("The factorial of",num,"is",factorial)

In [0]:
# Program to print table

num=int(input("Enter the number"))
for i in range(1,11):
  print(num, 'x',i,'=',num*i)

In [0]:
# Function to demonstrate printing pattern 
def pypart(n): 
      
    # outer loop to handle number of rows 
    # n in this case 
    for i in range(0, n): 
        for j in range(0, i+1): 
          
            # printing stars 
            print("* ",end="") 
       
        # ending line after each row 
        print("\r") 
  
# Driver Code 
n = 5
pypart(n)

In [0]:
# Program to print pyramid pattern

def pattern(n): 
     
    # For printing the upper part of pyramid 
    for i in range (1, n+1): 
        for j in range (1, i+1): 
            print ( "*")
      
    # for printing the middle and lower part of pyramid 
    for i in range (n, 1, -1): 
        for j in range (i, 1, -1): 
            print (" * " )

pattern(6)

In [0]:
def printPattern(n): 
  
    # Printing upper part 
    for i in range(n+1):  
      
        for j in range(1,i+1): 
            print(i,end="")         
        print("") 
      
    # printing lower part 
    for i in range(n - 1,0,-1):  
      
        for j in range(i,0,-1):  
            print(i,end="")         
        print("") 
  
# driver code 

n = 8
printPattern(n)

In [0]:
game=[[0,0,0],
      [0,0,0],
      [0,0,0],]
def game_board():
  print("   0  1  2")
  for count, row in enumerate(game):
      print(count,row)

game_board()

game[0][1]=1

game_board()

# **Tic Tac Toe Game**

In [0]:
def play_game(game_map, player = 0, row = 0, column = 0, show_game = False):
    try:
        #To check if the position has been played already
        if game_map[row][column] !=0:
            print(f"Position already played. Choose another. ")
            return game_map, False
        #Display column numbers
        print("   "+"  ".join([str(i) for i in range(len(game_map))]))
        if not show_game:
            game_map[row][column] = player
        #Display row number
        for count, row in enumerate(game_map):
            print(count, row)
        return game_map, True

    except IndexError as e:
        print(f"Enter only {list(range(game_size))} row and column choices.", e)
        return game_map, False

    except Exception as e:
        print(f"Something went wrong", e)
        return game_map, False

def game_logic(game_map):
    #Check for identical items in the list
    def same_item_check(l):
        if l.count(l[0]) == len(l) and l[0] != 0:
            return True
        else:
            return False

    for row in game_map:
        if same_item_check(row):
            print(f"Winner! Player {row[0]} wins horizontally!!!")
            return True
    for col in range(len(game_map)):
        col_check = []
        for row in game_map:
            col_check.append(row[col])
        if same_item_check(col_check):
            print(f"Winner! Player {col_check[0]} wins vertically!!!")
            return True
    diags = []
    #diagonal check
    for ix in range(len(game_map)):
        diags.append(game_map[ix][ix])
    if same_item_check(diags):
        print(f"Winner! Player {diags[0]} wins diagonally! (\\)")
        return True
    diags_reversed = []
    rows = range(len(game_map))    
    cols = reversed(range(len(game_map)))
    #reverse diagonal check
    for x, iy in zip(rows, cols):
        diags_reversed.append(game_map[x][iy])
    if same_item_check(diags_reversed):
        print(f"Winner! Player {diags_reversed[0]} wins reverse diagonally! (/)")
        return True
    return False
    
current_game_active = True
while current_game_active: 
    game_size = int(input("Enter the size of game you\'d like to play?Value must be above 1!: "))
    game_board = [[0 for i in range(game_size)] for i in range(game_size)]
    game_won = False
    print(f"\nGame board looks like this: ")
    game_board, _ = play_game(game_board,show_game=True)
    players = itertools.cycle(list(range(1,game_size)))   
    while not game_won:
        current_player = next(players)
        print(f"Current player: {current_player}")
        status = False
        while not status:
            row_choice = int(input(f"Which row would you like to play? Enter only {list(range(game_size))}: "))
            col_choice = int(input(f"Which column would you like to play? Enter only {list(range(game_size))}: "))
            game_board, status = play_game(game_board, current_player, row_choice, col_choice)
        if game_logic(game_board):
            game_won = True
            play_again = input("The game is over. Would you like to play again?(y/n) ")
            if play_again.lower() == 'y':
                print("Restarting...")
            elif play_again.lower() == 'n':
                print("Bye!")
                current_game_active = False
            else:
                print("Input only 'y' or 'n'. Exiting... ")
                current_game_active = False